$schema: ../../schema/mcp-agent.config.schema.json

mcp:
  servers:
    brave:
      env:
        BRAVE_API_KEY: <brave_api_key>

openai:
  api_key: openai_api_key

anthropic:
  api_key: anthropic_api_key
