$schema: ../../schema/mcp-agent.config.schema.json

openai:
  api_key: openai_api_key

anthropic:
  api_key: anthropic_api_key

mcp:
  servers:
    slack:
      env:
        SLACK_BOT_TOKEN: "xoxb-your-bot-token"
        SLACK_TEAM_ID: "T01234567"